<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/web/main.css" />
    <title>Main page</title>
  </head>

  <body>
    <form action="/recommend" method="post">
      <div class="floating-window">
        <!-- 맥북 디자인 시작 -->
        <div class="window-header">
          <div class="window-title">easymove😀</div>
          <div class="window-controls">
            <div class="window-minimize"></div>
            <div class="window-maximize"></div>
            <div class="window-close"></div>
          </div>
        </div>
        <!-- 맥북 디자인 끝 -->

        <!-- 카테고리 질문지 시작 -->
        <div class="category-all">
          <!-- 카테고리 선정 시작 -->
          <div class="category-selection">
            <button class="category-button" type="button" onclick="showCategory('traffic')">
              <i class="fa-solid fa-train-subway"></i>&nbsp;&nbsp;Traffic
            </button>
            <button class="category-button" type="button" onclick="showCategory('education')">
              <i class="fa-solid fa-school"></i>&nbsp;&nbsp;Education
            </button>
            <button class="category-button" type="button" onclick="showCategory('nature')">
              <i class="fa-solid fa-tree"></i>&nbsp;&nbsp;Nature
            </button>
            <button class="category-button" type="button" onclick="showCategory('shopping')">
              <i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;Shopping
            </button>
            <button class="category-button" type="button" onclick="showCategory('society')">
              <i class="fa-solid fa-users"></i>&nbsp;&nbsp;Society
            </button>
          </div>
          <!-- 카테고리 선정 끝 -->

          <!-- 카테고리 질문 시작 -->
          <div class="category-question">
            <div class="initial-message">
              <i class="fa-regular fa-hand-point-left"></i>&nbsp;좌측의 카테고리 버튼을 눌러주세요 !
            </div>
            <!-- 교통 카테고리 입력 시작 -->
            <div id="traffic" class="category-container hidden">
              <div class="category-title">교통</div>

              <div class="question-box">
                <div class="question-title">정시성을 중요하게 생각하시나요?</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="traffic4" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic4" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic4" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic4" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic4" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>
              <input id="submit" class="hidden" type="submit" value="제출" />
            </div>
            <!-- 교통 카테고리 입력 끝 -->

            <!-- 교육 카테고리 입력 시작 -->
            <div id="education" class="category-container hidden">
              <div class="category-title">교육</div>

              <div class="question-box">
                <div class="question-title">어린이집 등하원을 직접 하고싶으신가요?</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="education3" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education3" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education3" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education3" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education3" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>
              <input id="submit" class="hidden" type="submit" value="제출" />
            </div>
            <!-- 교육 카테고리 입력 끝 -->

            <!-- 자연 카테고리 입력 시작 -->
            <div id="nature" class="category-container hidden">
              <div class="category-title">자연</div>

              <div class="question-box">
                <div class="question-title">나는 바다가 좋다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="nature5" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature5" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature5" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature5" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature5" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>
              <input id="submit" class="hidden" type="submit" value="제출" />
            </div>
            <!-- 자연 카테고리 입력 끝 -->

            <!-- 쇼핑 카테고리 입력 시작 -->
            <div id="shopping" class="category-container hidden">
              <div class="category-title">쇼핑</div>

              <div class="question-box">
                <div class="question-title">장을 볼 때 온라인보단 오프라인을 이용하시나요?</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="shopping3" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping3" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping3" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping3" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping3" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>
              <input id="submit" class="hidden" type="submit" value="제출" />
            </div>
            <!-- 쇼핑 카테고리 입력 끝 -->

            <!-- 사회 카테고리 입력 시작 -->
            <div id="society" class="category-container hidden">
              <div class="category-title">사회</div>

              <div class="question-box">
                <div class="question-title">평소 밤길 돌아다니는 것이 무섭다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="society3" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society3" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society3" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society3" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society3" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>
              <input id="submit" class="hidden" type="submit" value="제출" />
            </div>
            <!-- 사회 카테고리 입력 끝 -->
          </div>
          <!-- 카테고리 질문 끝 -->
        </div>
        <!-- 카테고리 질문지 끝 -->
      </div>
    </form>
  </body>

  <script>
    function showCategory(category) {
      var categories = ['traffic', 'education', 'nature', 'shopping', 'society'];
      categories.forEach((cat) => {
        var element = document.getElementById(cat);
        if (cat === category) {
          element.style.animationName = 'fadeIn';
          setTimeout(() => element.classList.remove('hidden'), 500);
        } else {
          element.style.animationName = 'fadeOut';
          setTimeout(() => element.classList.add('hidden'), 500);
        }
      });

      var initialMessage = document.querySelector('.initial-message');
      if (initialMessage) {
        initialMessage.style.display = 'none';
      }

      checkAnswers(category);
    }

    function checkAnswers(category) {
      var inputs = document.querySelectorAll('#' + category + ' input[type="radio"]');
      inputs.forEach((input) => {
        input.addEventListener('change', function () {
          if (this.checked) {
            checkAllInCategory(category);
          }
        });
      });
    }

    function checkAllInCategory(category) {
      var inputs = document.querySelectorAll('#' + category + ' input[type="radio"]');
      var uniqueNames = [...new Set(Array.from(inputs).map((input) => input.name))];
      var checkedInputs = Array.from(inputs).filter((input) => input.checked);
      var checkedNames = [...new Set(checkedInputs.map((input) => input.name))];

      if (uniqueNames.length === checkedNames.length) {
        document.querySelector(
          'button[onclick="showCategory(\'' + category + '\')"]'
        ).disabled = true;
        console.log('가중치 입력 완료 !');
        checkAllAnswered();
      }
    }

    function checkAllAnswered() {
      var buttons = document.querySelectorAll('button[type="button"]');
      var allButtonsDisabled = true;

      buttons.forEach((button) => {
        if (!button.disabled) {
          allButtonsDisabled = false;
        }
      });

      if (allButtonsDisabled) {
        document.querySelectorAll('#submit').forEach((submitBtn) => {
          submitBtn.style.display = 'block';
        });
        console.log('제출 버튼 활성화 !');
      }
    }
  </script>
</html>
