<!DOCTYPE html>
<html>
  <head>
    <title>Main page</title>
  </head>
  <body>
    <form action="/recommend" method="post">
      <p>
        지하철역 가중치:
        <select name="지하철역">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </p>
      <!-- 위와 같은 방식으로 다른 시설에 대한 선택지를 추가 -->
      <input type="submit" value="제출" />
    </form>
  </body>
</html>
