<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/web/main.css" />
    <title>Main page</title>
  </head>

  <body>
    <form action="/recommend" method="post">
      <div class="floating-window">
        <!-- 맥북 디자인 시작 -->
        <div class="window-header">
          <div class="window-title">easymove😀</div>
          <div class="window-controls">
            <div class="window-minimize"></div>
            <div class="window-maximize"></div>
            <div class="window-close"></div>
          </div>
        </div>
        <!-- 맥북 디자인 끝 -->

        <!-- 카테고리 질문지 시작 -->
        <div class="category-all">
          <!-- 카테고리 선정 시작 -->
          <div class="category-selection">
            <button class="category-button" type="button" onclick="showCategory('traffic')">
              <i class="fa-solid fa-train-subway"></i>&nbsp;&nbsp;Traffic
            </button>
            <button class="category-button" type="button" onclick="showCategory('education')">
              <i class="fa-solid fa-school"></i>&nbsp;&nbsp;Education
            </button>
            <button class="category-button" type="button" onclick="showCategory('nature')">
              <i class="fa-solid fa-tree"></i>&nbsp;&nbsp;Nature
            </button>
            <button class="category-button" type="button" onclick="showCategory('shopping')">
              <i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;Shopping
            </button>
            <button class="category-button" type="button" onclick="showCategory('society')">
              <i class="fa-solid fa-users"></i>&nbsp;&nbsp;Society
            </button>
          </div>
          <!-- 카테고리 선정 끝 -->

          <!-- 카테고리 질문 시작 -->
          <div class="category-question">
            <div class="initial-message">
              <i class="fa-regular fa-hand-point-left"></i>&nbsp;좌측의 카테고리를 선택하여 질문을
              시작해주세요 !
            </div>
            <!-- 교통 카테고리 입력 시작 -->
            <div id="traffic" class="category-container hidden">
              <div class="category-title">
                <div class="category-name">교 통</div>
                <img
                  class="category-image"
                  src="/web/server/templates/images/traffic.png"
                  alt="사진없음"
                />
              </div>

              <div class="question-box">
                <div class="question-title">대중교통이 편리한 곳을 선호한다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="traffic1" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic1" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic1" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic1" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic1" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="question-box">
                <div class="question-title">본인 명의의 자동차를 보유하고 있지 않다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="traffic2" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic2" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic2" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic2" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic2" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="question-box">
                <div class="question-title">이동하기 위해 주로 대중교통을 이용한다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="traffic3" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic3" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic3" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic3" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic3" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="question-box">
                <div class="question-title">대중교통 중 지하철을 자주 이용한다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="traffic4" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic4" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic4" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic4" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic4" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <!-- <div class="question-box">
                <div class="question-title">다른 지역을 자주 방문한다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="traffic5" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic5" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic5" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic5" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="traffic5" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div> -->
              <input id="submit" class="hidden" type="submit" value="제출" />
            </div>
            <!-- 교통 카테고리 입력 끝 -->

            <!-- 교육 카테고리 입력 시작 -->
            <div id="education" class="category-container hidden">
              <div class="category-title">
                <div class="category-name">교 육</div>
                <img
                  class="category-image"
                  src="/web/server/templates/images/education.png"
                  alt="사진없음"
                />
              </div>

              <div class="question-box">
                <div class="question-title">교육 기관 근처에 거주하고 싶다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="education1" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education1" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education1" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education1" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education1" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="question-box">
                <div class="question-title">대학가 상권 근처에서 생활하고 싶다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="education2" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education2" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education2" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education2" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education2" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="question-box">
                <div class="question-title">자녀가 있거나 추후 계획이 있다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="education3" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education3" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education3" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education3" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education3" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="question-box">
                <div class="question-title">자녀 교육에 큰 관심을 가지고 있다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="education4" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education4" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education4" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education4" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education4" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <!-- <div class="question-box">
                <div class="question-title">유치원 등하원을 직접 하고 싶다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="education5" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education5" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education5" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education5" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="education5" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div> -->
              <input id="submit" class="hidden" type="submit" value="제출" />
            </div>
            <!-- 교육 카테고리 입력 끝 -->

            <!-- 자연 카테고리 입력 시작 -->
            <div id="nature" class="category-container hidden">
              <div class="category-title">
                <div class="category-name">자 연</div>
                <img
                  class="category-image"
                  src="/web/server/templates/images/nature.png"
                  alt="사진없음"
                />
              </div>

              <div class="question-box">
                <div class="question-title">자연 환경이 주변에 있는 곳을 선호한다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="nature1" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature1" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature1" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature1" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature1" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="question-box">
                <div class="question-title">자연적인 환경과 가까이 지내고 싶다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="nature2" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature2" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature2" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature2" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature2" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="question-box">
                <div class="question-title">산책이나 조깅을 즐긴다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="nature3" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature3" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature3" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature3" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature3" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="question-box">
                <div class="question-title">반려동물을 키우고 있다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="nature4" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature4" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature4" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature4" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature4" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <!-- <div class="question-box">
                <div class="question-title">평소에 바다를 자주 보러 다닌다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="nature5" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature5" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature5" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature5" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="nature5" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div> -->
              <input id="submit" class="hidden" type="submit" value="제출" />
            </div>
            <!-- 자연 카테고리 입력 끝 -->

            <!-- 쇼핑 카테고리 입력 시작 -->
            <div id="shopping" class="category-container hidden">
              <div class="category-title">
                <div class="category-name">쇼 핑</div>
                <img
                  class="category-image"
                  src="/web/server/templates/images/shopping.png"
                  alt="사진없음"
                />
              </div>

              <div class="question-box">
                <div class="question-title">쇼핑 시설이 가까웠으면 좋겠다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="shopping1" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping1" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping1" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping1" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping1" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="question-box">
                <div class="question-title">장을 보러 가는 주기가 짧은 편이다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="shopping2" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping2" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping2" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping2" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping2" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="question-box">
                <div class="question-title">인터넷 쇼핑보다 오프라인 매장을 선호한다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="shopping3" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping3" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping3" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping3" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping3" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="question-box">
                <div class="question-title">도보를 통해 오프라인 매장을 방문한다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="shopping4" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping4" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping4" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping4" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping4" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <!-- <div class="question-box">
                <div class="question-title">의류를 구매하기 전에 실착을 하는 편이다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="shopping5" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping5" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping5" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping5" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="shopping5" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div> -->
              <input id="submit" class="hidden" type="submit" value="제출" />
            </div>
            <!-- 쇼핑 카테고리 입력 끝 -->

            <!-- 사회 카테고리 입력 시작 -->
            <div id="society" class="category-container hidden">
              <div class="category-title">
                <div class="category-name">사 회</div>
                <img
                  class="category-image"
                  src="/web/server/templates/images/society.png"
                  alt="사진없음"
                />
              </div>

              <div class="question-box">
                <div class="question-title">공공 서비스나 시설이 가까웠으면 좋겠다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="society1" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society1" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society1" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society1" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society1" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="question-box">
                <div class="question-title">병원을 정기적으로 방문한다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="society2" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society2" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society2" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society2" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society2" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="question-box">
                <div class="question-title">밤에 외출하는 것이 불안하다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="society3" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society3" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society3" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society3" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society3" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="question-box">
                <div class="question-title">치안과 안전에 대한 우려가 크다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="society4" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society4" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society4" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society4" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society4" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div>

              <!-- <div class="question-box">
                <div class="question-title">비상 시, 119에 상대적으로 가까운 곳을 선호한다</div>
                <div class="radio-buttons">
                  <label class="radio-button">
                    <input type="radio" name="society5" value="1" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society5" value="2" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society5" value="3" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society5" value="4" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                  <label class="radio-button">
                    <input type="radio" name="society5" value="5" />
                    <span class="radio-button__checkmark"></span>
                  </label>
                </div>
              </div> -->
              <input id="submit" class="hidden" type="submit" value="제출" />
            </div>
            <!-- 사회 카테고리 입력 끝 -->
          </div>
          <!-- 카테고리 질문 끝 -->
        </div>
        <!-- 카테고리 질문지 끝 -->
      </div>
    </form>
  </body>

  <script>
    function showCategory(category) {
      var categories = ['traffic', 'education', 'nature', 'shopping', 'society'];
      categories.forEach((cat) => {
        var element = document.getElementById(cat);
        if (cat === category) {
          element.style.animationName = 'fadeIn';
          setTimeout(() => element.classList.remove('hidden'), 500);
        } else {
          element.style.animationName = 'fadeOut';
          setTimeout(() => element.classList.add('hidden'), 500);
        }
      });

      var initialMessage = document.querySelector('.initial-message');
      if (initialMessage) {
        initialMessage.style.display = 'none';
      }

      checkAnswers(category);
    }

    function checkAnswers(category) {
      var inputs = document.querySelectorAll('#' + category + ' input[type="radio"]');
      inputs.forEach((input) => {
        input.addEventListener('change', function () {
          if (this.checked) {
            checkAllInCategory(category);
          }
        });
      });
    }

    function checkAllInCategory(category) {
      var inputs = document.querySelectorAll('#' + category + ' input[type="radio"]');
      var uniqueNames = [...new Set(Array.from(inputs).map((input) => input.name))];
      var checkedInputs = Array.from(inputs).filter((input) => input.checked);
      var checkedNames = [...new Set(checkedInputs.map((input) => input.name))];

      if (uniqueNames.length === checkedNames.length) {
        document.querySelector(
          'button[onclick="showCategory(\'' + category + '\')"]'
        ).disabled = true;
        console.log('가중치 입력 완료 !');
        checkAllAnswered();
      }
    }

    function checkAllAnswered() {
      var buttons = document.querySelectorAll('button[type="button"]');
      var allButtonsDisabled = true;

      buttons.forEach((button) => {
        if (!button.disabled) {
          allButtonsDisabled = false;
        }
      });

      if (allButtonsDisabled) {
        document.querySelectorAll('#submit').forEach((submitBtn) => {
          submitBtn.style.display = 'block';
        });
        console.log('제출 버튼 활성화 !');
      }
    }
  </script>
</html>
