body {
  background-image: url('/web/server/templates/다대포 닮은.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hidden {
  display: none;
}

/* 맥북 디자인 시작 */

.floating-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 500px;
  background-color: #f6f6f6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 9999;
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: #e6e6e6;
  border-bottom: 1px solid #d6d6d6;
}

.window-title {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.485);
}

.window-controls {
  display: flex;
}

.window-minimize,
.window-maximize,
.window-close {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  border-radius: 50%;
}

.window-minimize {
  background-color: #f7d54a;
}

.window-maximize {
  background-color: #62c462;
}

.window-close {
  background-color: #ee5f5b;
}

/* 맥북 디자인 끝 */

.category-all {
  display: flex;
  flex-direction: row;
}

.category-selection {
  display: flex;
  flex-direction: column;
}

.category-question {
  margin-left: 10rem;
}

/* 카테고리 버튼 시작 */

/* 카테고리 버튼 끝 */
/* 질문지 시작 */

.category-container {
}

.category-title {
}

.question-box {
  padding: 12px;
}

.question-title {
  font-size: 23px;
  text-align: center;
}

.radio-buttons {
  text-align: center;
}

.radio-button input[type='radio'] {
  display: none;
}

.radio-button {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.radio-button__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-button:hover input ~ .radio-button__checkmark {
  background-color: #ccc;
}

.radio-button input:checked ~ .radio-button__checkmark {
  background-color: #2196f3;
}

/* 질문지 끝 */

/* 애니메이션 시작 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.category-container {
  animation: fadeIn 0.5s ease forwards;
}

.category-container.hidden {
  animation: fadeOut 0.5s ease;
}

/* 애니메이션 끝 */
