body {
  background-image: url('/web/server/templates/images/ocean.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hidden {
  display: none;
}

/* 맥북 디자인 시작 */

.floating-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 500px;
  background-color: #f6f6f6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 9999;
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: #e6e6e6;
  border-bottom: 1px solid #d6d6d6;
}

.window-title {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.485);
}

.window-controls {
  display: flex;
}

.window-minimize,
.window-maximize,
.window-close {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  border-radius: 50%;
}

.window-minimize {
  background-color: #f7d54a;
}

.window-maximize {
  background-color: #62c462;
}

.window-close {
  background-color: #ee5f5b;
}

/* 맥북 디자인 끝 */
/* 카테고리 질문지 시작 */

.category-all {
  display: flex;
  flex-direction: row;
}

/* 카테고리 질문지 끝 */
/* 카테고리 버튼 시작 */

.category-selection {
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
  padding-right: 2rem;
  position: relative;
}

.category-selection::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(1px);
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.category-button {
  width: 10rem;
  height: 2rem;
  margin: 1.85rem 0 1.85rem 2rem;
  border: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 1.3rem;
  cursor: pointer;
}

.category-button:hover {
  transform: scale(1.1);
}

/* 카테고리 버튼 끝 */
/* 카테고리 질문 시작 */

.category-question {
  margin-left: 10rem;
}

.initial-message {
  position: absolute;
  top: 50%;
  left: 33.5%;
  font-size: 1.3rem;
  color: #333;
}

.category-container {
}

.category-title {
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
  border-radius: 20px;
  margin: 0 auto 1rem auto;
  max-width: 65rem;
}
.category-name {
  color: #111827;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.15rem;
}

.category-image {
  width: 13rem;
  /* height: 7rem; */
  padding-right: 50px;
}

.question-box {
  padding: 12px;
}

.question-title {
  font-size: 23px;
  text-align: center;
}

.radio-buttons {
  text-align: center;
}

.radio-button input[type='radio'] {
  display: none;
}

.radio-button {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.radio-button__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-button:hover input ~ .radio-button__checkmark {
  background-color: #ccc;
}

.radio-button input:checked ~ .radio-button__checkmark {
  background-color: #2196f3;
}

/* 카테고리 질문 끝 */

/* 애니메이션 시작 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.category-container {
  animation: fadeIn 0.5s ease forwards;
}

.category-container.hidden {
  animation: fadeOut 0.5s ease;
}

/* 애니메이션 끝 */
